<mat-toolbar color="primary">
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  {{ title }}

</mat-toolbar>

<mat-sidenav-container (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <div class="default-city">
      <h4>Default City</h4>
      <br>
      <button mat-raised-button color="primary">Save</button>
    </div>
    <button mat-button (click)="close('toggle button')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-city-search (searchEvent)="doSearch($event)"></app-city-search>

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Current Weather</h2>
        </mat-card-title>
      </mat-card-header>
      <app-current-weather [current]="currentWeather"></app-current-weather>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>5 Day Forecast</h2>
        </mat-card-title>
      </mat-card-header>
      FORECAST HERE
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
